@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

//variaveis

//cores
$white: white;
$background-paste1: #F6F0EC;
$background-paste2: #d6d3d0;

//fontes
$secondary-font-size: 5rem;
$secondary-font-size-600: 3rem;

//transition
$transitio-3ms: .3s;