@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  height: 70px;
  width: 100%;
}

header nav {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0.9em;
}

header nav > div,
header nav ul {
  border: 1px solid red;
}

header nav .logo {
  font-weight: 700;
  font-size: 1.3em;
}

header nav .logo span {
  color: white;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 2em;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

.capa {
  height: 100vh;
  background: url(https://images.pexels.com/photos/15286/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=750&w=1260) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  z-index: -1;
  left: 0%;
  right: 0%;
  top: 0;
  overflow-y: auto;
}

.capa .capa__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 75px);
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.capa .capa__title h1 {
  font-weight: 300;
  font-size: 5em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.conteudo {
  width: 100%;
  background: #F6F0EC;
  top: 70px;
  height: calc(100vh - 70px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24%;
  overflow-y: auto;
}

.conteudo .conteudo__projetos {
  width: 100%;
  padding: 1em;
}

.conteudo .conteudo__projetos .titulo__projetos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteudo .conteudo__projetos .titulo__projetos .secundario {
  font-size: 5rem;
  font-weight: 100;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.conteudo .conteudo__projetos .titulo__projetos small {
  padding: 0.5em;
  font-weight: 600;
}

.conteudo .conteudo__projetos .apresentacao__projetos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteudo .conteudo__projetos .apresentacao__projetos > div {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
}

.conteudo .conteudo__projetos .apresentacao__projetos .descricao__apresentacao {
  padding: 0 .1em;
}

.conteudo .conteudo__projetos .apresentacao__projetos .descricao__apresentacao .descricao {
  text-align: justify;
  font-weight: 300;
}

.conteudo .conteudo__projetos .apresentacao__projetos .descricao__apresentacao .titulo__descricao {
  font-size: 5rem;
  font-weight: 100;
}

.conteudo .conteudo__projetos .apresentacao__projetos .imagem__apresentacao-oval {
  height: 500px;
  overflow: hidden;
}

.conteudo .conteudo__projetos .apresentacao__projetos .imagem__apresentacao-oval img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.conteudo .cards__projetos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.conteudo .cards__projetos .card__projeto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.conteudo .cards__projetos .card__projeto .img__card img {
  max-width: 100%;
}

.conteudo .cards__projetos .card__projeto .titulo__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.conteudo .cards__projetos .card__projeto .titulo__card span {
  font-size: 5rem;
}

.conteudo .cards__projetos .card__projeto > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conteudo .sobre {
  width: 100%;
  padding: 1em;
}

.conteudo .sobre .titulo__sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteudo .sobre .titulo__sobre .secundario {
  font-size: 5rem;
  font-weight: 100;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.conteudo .sobre .titulo__sobre small {
  padding: 0.5em;
  font-weight: 600;
}

.conteudo .sobre .descricao__sobre blockquote {
  text-align: justify;
  padding: 1.5em 0;
}

.conteudo .sobre .ceo {
  text-align: center;
}

.conteudo .sobre .ceo span {
  font-weight: 600;
}

.conteudo .contato {
  width: 100%;
  padding: 1em;
}

.conteudo .contato .titulo__contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteudo .contato .titulo__contato .secundario {
  font-size: 5rem;
  font-weight: 100;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.conteudo .contato .titulo__contato small {
  padding: 0.5em;
  font-weight: 600;
}

.conteudo .contato .contatos {
  margin: 1.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteudo .contato .wpp {
  text-align: center;
  margin: 5em 0;
}

.conteudo .contato .wpp a {
  padding: .5em;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.conteudo .contato .wpp a:hover {
  background: #d6d3d0;
}

@media screen and (max-width: 600px) {
  .capa__title h1 {
    font-size: 3rem !important;
  }
  .titulo__descricao {
    text-align: center;
    display: inline-block;
  }
  .descricao__apresentacao {
    margin: 0 0 1.5em 0;
  }
  .secundario {
    font-size: 3rem !important;
  }
  .titulo__projetos {
    margin: 0 0 1.5em 0;
  }
  .titulo__projetos small {
    padding-bottom: .4em !important;
  }
  .titulo__card {
    margin: 0 0 1.5em 0;
  }
  .titulo__card span {
    font-size: 1.5rem !important;
  }
}
/*# sourceMappingURL=estilo.css.map */